.home > .original {
	width: 200px;
	max-width: 100%;
	padding: 16px;
	margin: auto;
}

.home > .original > img {
	width: 100%;
	display: block;
}

.home > .original > a {
	display: block;
	text-align: center;
	color: rgba(0, 0, 0, 0.54);
}

.site-nav {
	display: inline-block;
}

.gallery img {
	max-width: 30%;
}

.gallery.big img {
	max-width: 90%;
}

@media (min-width: 1200px) {
	.gallery.big img {
		max-width: 60%;
	}
}
